In [2]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Creating Path
path = r"C:\Users\David\Desktop\04-23 Instacart Basket Analysis"

In [4]:
# Import products.csv

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [5]:
# Import orders_wrangled.csv

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

# Mixed Types

In [6]:
# Create test dataframe:
df_test = pd.DataFrame()

In [7]:
# Create a mixed column type:
df_test['mix'] = ['a', 'b', 1, True]

In [8]:
# Check for mixed data types:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col, ' mixed')
  else: print(col, ' consistent')

mix  mixed

# Missing Values

In [9]:
# Changing 'mix' to string type:
df_test['mix'] = df_test['mix'].astype('str')

In [10]:
# Count the missing vailes in each column:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [11]:
# Missing Values list: 
df_nanprods = df_prods[df_prods.product_name.isnull() == True]

In [12]:
# Create df without nan values:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [12]:
df_prods_clean.shape

(49677, 5)

# Duplicates

In [13]:
# Create dropped duplicates list 
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [14]:
df_prods_clean_no_dups.shape

(49672, 5)

In [15]:
# Exporting Changes
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

In [16]:
# Step 2 Run the df.describe() function on your df_ords dataframe:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

I would say that the max price of 99999 should be investigated.

In [17]:
df_prods[df_prods.prices == 99999]

       product_id           product_name  aisle_id  department_id   prices
33666       33664  2 % Reduced Fat  Milk        84             16  99999.0

In [18]:
# Step 3. Check for mixed-type data in your df_ords dataframe:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
        print (col, ' mixed')
  else: print(col, ' consistent')

Unnamed: 0  consistent
order_id  consistent
user_id  consistent
eval_set  consistent
order_number  consistent
order_day_of_week  consistent
order_hour_of_day  consistent
days_since_last_order  consistent

In [19]:
# Step 5. Run a check for missing values in your df_ords dataframe:
df_ords.isnull().sum()

Unnamed: 0                    0
order_id                      0
user_id                       0
eval_set                      0
order_number                  0
order_day_of_week             0
order_hour_of_day             0
days_since_last_order    206209
dtype: int64

In [20]:
# Drop unnamed column for df_ords

df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [21]:
df_ords.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_last_order'],
      dtype='object')

In [30]:
df_ords.head(10)

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0

In [22]:
df_ords['user_id'] = df_ords['user_id'].astype('int64')
df_ords.user_id.max()

206209

In [23]:
# Create subset for the missing values in df_ords

df_ords_nan = df_ords[df_ords['days_since_last_order'].isnull() == True]

In [34]:
df_ords_nan

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

I would say the reason for the missing value is the customers are new so there would be no prior order so will not make any changes.

In [24]:
# Step 7. Run a check for duplicate values in your df_ords data: 
df_ords_dups = df_ords[df_ords.duplicated()]

In [25]:
df_ords_dups.size

0

No duplicates so no changes needed

In [26]:
# Step 9. Export changes: 
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))