In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Path to Dataframes
path = r'C:\Users\David\Desktop\04-23 Instacart Basket Analysis'

In [3]:
#Importing products_checked.csv dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [4]:
#Importing orders_products_combined.csv dataframe
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
#Drop the unnecessary Column
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0'])

In [6]:
#Checking the shape of imported pkl file
df_ords_prods_combined.shape

(32434489, 11)

In [7]:
# Checking the first 5 rows of ords_prods_combined dataframe
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [8]:
#Checking the shape of products_checked dataframe
df_prods.shape

(49672, 6)

In [9]:
#Checking the first 5 rows of prods dataframe
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
#Drop the unnecessary Column
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
#Drop the '_merge' column from the dataframe ords_prods_combined
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

# Common key between the two Dataframes is "product_id"

In [13]:
#Merging the ords_prods_combined df with the df_prods via the product_id column
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [14]:
#Drop the 'eval_set' column from the dataframe df_merged
df_merged = df_merged.drop(columns = ['eval_set'])

In [15]:
df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [16]:
#Checking the values in the _merge column
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
#Checking the merged shape
df_merged.shape

(32404859, 14)

In [18]:
#Exporting the newly merged dataframe; Using pickle format due to size
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))